body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 3000px; 
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000; 
}

.btn-topo:hover {
    background-color: #0056b3;
    transform: translateY(-3px); 
}

.hidden {
    opacity: 0;
    pointer-events: none; 
    visibility: hidden;
}

.conteudo {
    text-align: center;
    padding-top: 5px;
}

.conteudo p {
    margin-bottom: 55vh; 
    font-size: 1.5rem;
    color: #555;
}

.conteudo p:last-child {
    margin-bottom: 50px; 
}